body, div, h1, h2, h3, h4, p, ul, li, ol {
    margin: 0;
    padding: 0;
    /* box-sizing:content-box */
}

.screen {
    height: 40px;
    width: auto;
    border: 3px solid black;
}

.container {
    width: 100px;
    height: auto;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
}

