body, div, h1, h2, h3, h4, p, ul, li, ol {
    margin: 0;
    padding: 0;
}


button {
    cursor: pointer;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5%;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    box-sizing:border-box;

}

.screen {
    /* display: flex; */
    height: 30px;
    width: auto;
    border: 2px solid black;
    font-size: 18px;
    text-align: right;
    flex-grow: 2;
    font-size: 30px;
    padding-top: 10px;
    padding-right: 20px;
    border-radius: 3%;
    

    

    
    /* flex-grow: 1; */
}

.container {
    width: 300px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    /* background-color: grey; */
}

.additional-buttons {
    display: flex;
    /* gap: 5px; */
    flex-wrap: nowrap;
    flex-grow: 1;
}


.additional-buttons button {
    width: 150px;    
}

.number-buttons, .operator-buttons {
    display: flex; 
    flex-wrap: wrap;
   
    
}

.number-buttons button,
.operator-buttons button {
    width: 75px;
    background-color: #d8dbe2;
    color: white;
    
    
    
}


.all-buttons {
    display: flex; 
    height: 290px; 
    
}


#ac {
    background-color: #f6cc5c;
    color: white;
}

#clear {
    background-color: #cf262d;
    color: white;
}


.operator-buttons button:hover {
    background-color: black;
}

#equals:hover {
    background-color: #88d498;
}


.number-buttons button:hover {
    background-color: #637081;
}

