body, div, h1, h2, h3, h4, p, ul, li, ol {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    box-sizing:border-box;

}

.screen {
    height: 50px;
    width: auto;
    border: 3px solid black;
}

.container {
    width: 300px;
    /* height: 80%; */
}

.additional-buttons {
    display: flex;
    /* gap: 5px; */
    flex-wrap: nowrap;
    
}


.additional-buttons button {
    width: 150px;
}

.number-buttons, .operator-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.number-buttons button,
.operator-buttons button {
    width: 75px;
}


.all-buttons {
    display: flex;
    /* height: 300px; */
}

